<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu Dinamico</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<!--VUE JS-->
    <script src="https://unpkg.com/vue@next"></script> 
	
	<link rel="stylesheet" href="css/menuDinamico.css">
</head>
<body>
	<div id="principal">
		<div id="menuDinamico">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="menu">
					<ul class="nav navtab justify-content:center flex-wrap:wrap margin:auto ">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Sección A</a>
							<div class="dropdown-menu" id="submenuA"> 
								<a v-for="a in seccionA" class="dropdown-item" href="#">{{a}}</a>
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Sección B</a>
							<div class="dropdown-menu" id="submenuB">
								<a v-for="b in seccionB" class="dropdown-item" href="#">{{b}}</a>
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Sección C</a>
							<div  class="dropdown-menu" id="submenuC">
								<a v-for="c in seccionC" class="dropdown-item" href="#">{{c}}</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<!---------------------------- F O R M U L A R I O ----------------------------->

		<div id="cajaFormulario">
			<div id="formulario">F O R M U L A R I O
					<select  class="mdb-select md-form" id="sel-select"  v-model="selected" v-on:change="change">
						<option value="" disabled selected>Secciones</option>
						<option value="1">Sección A</option>
						<option value="2">Sección B</option>
						<option value="3">Sección C</option>
					</select>
					
							
				<input type="text" maxlength="20" id="tx-submenu" placeholder="submenu" v-model="texto">
				<button type="button" name="" id="bt-agregar" class="btn btn-dark" v-on:click="click">Agregar submenú</button>
				<button type="button" name="" id="bt-limpiar" class="btn btn-dark" v-on:click="limpiar">Limpiar formulario</button>
			</div>	
		</div>
	</div>
	<!--------------------------------- JS ------------------------------------------->
	
	<script src="js/menuDinamico.js"></script>
	<script>Vue.createApp(appMenu).mount("#principal")</script>	

	
</body>
</html>
